form {
    background-color: rgb(112, 112, 153);
    border-radius: 4px;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

input {
    font-style: oblique;
    font-size: large;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
}

button {
    color: rgb(71, 23, 71);
    margin-left: 10px;
    font-size: large;
    font-weight: bolder;
    border-radius: 4px;
}