.github-profile {
    display: flex;
	margin: 2rem;
    color: white;
}
.github-profile img {
    width: 85px;
    border-radius: 4px;;
}
 
.info {
    display: inline-block;
    margin-left: 12px;
}

.info .name {
    font-size: 1.50rem;
    font-weight: bold;
    }



